@model DemoMvcWebApi.Models.Speaker

<h1>@Model.FirstName @Model.LastName</h1>
<hr />

<div class="row">
    <div class="col-lg-12">
        <p>@Model.FirstName @Model.LastName est "@Model.Job" à @Model.Company</p>
    </div>
</div>